<span class="header">
	<h2> Hello, Cloud!</h2>
</span>

<section class="mainContent">
	<h5> Current Time: </h5>
	<p id='time'> {{curTime}} </p>
	<input type='button' name='update' value='Update Time' id='update'>
</section>

<br><br>

<span class="footer">
	Author: Sean Mulholland<br>
	CS-496, Summer 2016<br>
</span> 

<script src="/public/scripts/update.js"></script>
